package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};
import org.apache.ibatis.annotations.Mapper;

#set($year = $dateTool.get('yyyy', $date))
/**
 * @Author ${author}
 * @Date ${date}
 * @Description 描述信息
 * @Copyright(c) ${year} , 青枫网络工作室
 */
@Mapper
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {}
